{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="google" content="nositelinkssearchbox" />
    <meta name="theme-color" content="#000000" />
    <meta name="msapplication-navbutton-color" content="#000000">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta name="twitter:card" value="summary" />
    <meta name="twitter:site" content="@izarudny" />
    <meta name="twitter:title" content="Let's rock your album!" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="@izarudny" />
    <meta name="twitter:image" content="https://prophet.rozz.me/static/cover-big.jpg" />

    <meta property="og:title" content="Let's rock your album!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://prophet.rozz.me" />
    <meta property="og:image" content="https://prophet.rozz.me/static/cover-big.jpg" />
    <meta property="og:description" content="" />

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="background">
        <div class="content">
            <div class="title">
                <p>Let's rock your album!</p>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>