{% extends 'base.html' %}

{% load i18n %}

{% block title %}Let's rock your album!{% endblock %}

{% block content %}
<div class="block">
    <div class="block-title">
        <p>Enter genre of your upcoming album</p>
    </div>

    <div class="block-content">
        <form action="/api/run" method="POST" class="model">
            {% csrf_token %}
            <input name="genre" type="text" placeholder="Type genre" list="genres" class="model-input">
            <button type="submit" class="model-submit">🔍</button>
            <datalist id="genres">
                {% for genre in genres %}
                <option>{{ genre }}</option>
                {% endfor %}
            </datalist>
        </form>
    </div>
</div>
{% endblock %}