{% extends 'base.html' %}

{% load i18n %}

{% block title %}Let's rock your album!{% endblock %}

{% block content %}
<div class="block">
    <div class="block-title">
        <p id="message">Please wait till operation complete</p>
    </div>

    <div class="block-content">
        <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 24 30"
            class="wait"
            xml:space="preserve">
            <rect
                x="0"
                y="13"
                width="4"
                height="5"
                class="wait-bar"
            >
                <animate
                    attributeName="height"
                    attributeType="XML"
                    values="5;21;5" 
                    begin="0s"
                    dur="0.6s"
                    repeatCount="indefinite" />
                <animate
                    attributeName="y"
                    attributeType="XML"
                    values="13; 5; 13"
                    begin="0s"
                    dur="0.6s"
                    repeatCount="indefinite" />
            </rect>
            <rect
                x="10"
                y="13"
                width="4"
                height="5"
                class="wait-bar"
            >
                <animate
                    attributeName="height"
                    attributeType="XML"
                    values="5;21;5" 
                    begin="0.15s"
                    dur="0.6s"
                    repeatCount="indefinite" />
                <animate
                    attributeName="y"
                    attributeType="XML"
                    values="13; 5; 13"
                    begin="0.15s"
                    dur="0.6s"
                    repeatCount="indefinite" />
            </rect>
            <rect
                x="20"
                y="13"
                width="4"
                height="5"
                class="wait-bar"
            >
                <animate
                    attributeName="height"
                    attributeType="XML"
                    values="5;21;5" 
                    begin="0.3s"
                    dur="0.6s"
                    repeatCount="indefinite" />
                <animate
                    attributeName="y"
                    attributeType="XML"
                    values="13; 5; 13"
                    begin="0.3s" dur="0.6s"
                    repeatCount="indefinite" />
            </rect>
        </svg>
        <div id="error"></div>
        {% csrf_token %}
    </div>
    <div class="block" id="try-again" style="display: none;">
        <div class="block-content">
            <a href="/">Try different genre?</a>
        </div>
    </div>
    <script>
        window.onload = function () {
            fetch('{{ redirect_url }}', {
            method: 'PUT',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
            })
            .then(async response => {
                const data = await response.json() || false;
                if (data.ok && response.ok) {
                    location.replace('{{ redirect_url }}');
                    return;
                }

                document.getElementById('try-again').style.display = 'block';

                const titleElement = document.getElementById('message');
                titleElement.innerText = 'Got error from server, please try again 😞';
                document.getElementsByClassName('wait')[0].style.display = 'none';
                if (response.ok && !data) {
                    return;
                }

                const errorElement = document.getElementById('error');
                errorElement.innerText = data.message || 'No information provided by server';
            })
            .catch(error => {
                document.getElementById('try-again').style.display = 'block';
                const titleElement = document.getElementById('message');
                titleElement.innerText = 'Something bad happend on server, please try again 😞';
                document.getElementsByClassName('wait')[0].style.display = 'none';
            })
        }
    </script>
</div>
{% endblock %}